html, body, div, article, main {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
:root {
	font-size: 14px;
	font-family: sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0;
	line-height: 1.6;
}
main {
	display: flex;
	width: 90vw;
	max-width: 1200px;
	margin: 3rem 0;
	background-color: #fff;
	box-shadow: 0 0 .5rem rgb(0, 0, 0, .1);
	border-radius: .5rem;
}
article {
	display: block;
	width: 100%;
	padding: 1rem 2rem 2rem;
	overflow-x: auto;
}
h2 {
	font-size: 1.3em;
	margin: .5rem 0;
	font-weight: bold;
	text-align: center;
}
#container, #nav {
	font-size: 1.3em;
	text-align: center;
}
#container > div {
	margin: .1em 0;
}
#table {
	overflow-x: auto;
}
table {
	margin: 1em auto;
	color: #202122;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #a2a9b1;
	padding: .4em .8em;
}
th {
	background-color: #eaecf0;
	text-align: center;
}
td {
	background-color: #f8f9fa;
}
th:first-child, td:first-child {
	position: sticky;
	left: 0;
	z-index: 1;
}
.excerpt {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mono {
	font-family: monospace;
	white-space: pre;
}
#api {
	margin-top: 2rem;
}
.block {
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 0 3px rgb(0, 0, 0, .19);
	padding: 5px;
	margin: 0 0 15px;
}
.get {
	background-color: rgb(97, 175, 254, .1);
	border-color: #61affe;
}
.post {
	background-color: rgb(73, 204, 144, .1);
	border-color: #49cc90;
}
.method {
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	min-width: 80px;
	padding: 6px 0;
	text-align: center;
	text-shadow: 0 1px 0 rgb(0, 0, 0, .1);
}
.get > .method {
	background-color: #61affe;
}
.post > .method {
	background-color: #49cc90;
}
.path {
	color: #3b4151;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
}
.desc {
	display: inline-block;
	color: #3b4151;
	font-family: sans-serif;
	font-size: 13px;
}

@media screen and (max-width: 720px) {
	main {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	article {
		padding: 1rem;
	}
}
